body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-container{
  background-image: url("resurse/pexels-anna-nekrashevich-6801648.jpg");
  /*background-attachment: fixed;*/
  /*Fotografie creată de Anna Nekrashevich, de la Pexels*/
  background-size: cover;
  /*min-height: 100vh;*/
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 60% ;
  height: 60%;
}

#imagineSondaje{
  background-image: url("../src/resurse/pexels-lukas-669616.jpg");
  /*Fotografie creată de Lukas, de la Pexels*/
  background-size: cover;
}

.navbar{
  position: absolute;
  top: 0;
  width: 100%;
  height: fit-content;
}


.titlu{
  font-size: 20px;
  color: black;
}

.titlu:hover{
  /*color: #eeffff;*/
  color: #ecfffd;
}

#model{
  /*background-color: #89abc6;*/
  background-color: #88c399;
}

.fundal-carduri{
  position: absolute;
  top: 20px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

.lista-carduri{
  margin-top: 55px;
  /*background-color: #baddf9;*/
  background-color: #b9f6ca;
  margin-bottom: 55px;
}

#element-lista{
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 1.5rem;
  margin-left: 1%;
  width: 98% ;
  height: fit-content;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

#submit{
  margin-left: 46%;
  width: 8% ;
  height: fit-content;
  text-align: center;
}

.photo {
  height: 40px;
  width: 40px;
}

#grayback{
  background: none;
}

#salvareRaspuns{
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 1%;
  width: 98% ;
  font-size: 18px;
}

.form-control{
  margin: 5px;
  width: 99% ;
}
